extends ../layout/common
block content

    h1 BOOK
    table.table
            tr
                th Username
                th Password
                th Phone 
                th Avatar
            tr
                td= user.username 
                td= user.password
                td= user.phone
                td 
                    img(src= "../" + user.avatar, alt="" , width="32")