extends ../layout/common
block content


    h1.text-center Create new author
    if errors 
        each err in errors 
            .alert.alert-danger= err


    form(action="/authors/create", method="POST")
        .form-group.my-2
            label(for="name") Name
            input#name.form-control(type="text", name="name", placeholder="Enter username" value= values ? values.name : "")
        .form-group.my-2
            label(for="year") BirthYear
            input#year.form-control(type="text", name="birthyear", placeholder="Enter password" value = values ? values.birthyear : "")
        //- label(for="avatar") Author
        //- input#avatar.form-control-file(type="file", name="avatar")
        button.btn.btn-danger.my-3 Add 
        